doctype html
// Basic

// Start Main Top
//- .main-top
//-   .container-fluid
//-     .row
//-       .col-lg-6.col-md-6.col-sm-12.col-xs-12
        
        
//-         .our-link
//-           ul
//-             li
//-               if user
//-                 a(href=`/account`)
//-                   i.fa.fa-user.s_color
//-                   |  My Account
//-                 if user.negotiations
//-                   each nego in user.negotiations
//-                     span(class="negoId" data-id=nego.id data-user= user.role)
            

                        
//-               if(!user)
//-                 li
//-                   a(href='/seller-login')
//-                     i.fa.fa-cart-plus
//-                     |  Start Selling
           
          //- select#basic.selectpicker.show-tick.form-control(data-placeholder='Sign In')
          //-   option Register Here
        
// End Main Top
// Start Main Top
header.main-header
  // Start Navigation
  nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-default.bootsnav.bgCont
    #google_element(style="margin: 20px;border-style: solid;")
    script(defer src="https://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate")
    script(defer).
      function  loadGoogleTranslate (){
      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, "google_element");
      document.querySelector(".goog-te-menu-value").firstChild.remove();
      let i = document.createElement('i');
            i.classList.add("fa-solid")
            i.classList.add("fa-language")
            i.classList.add("fa-xl")
      document.querySelector(".goog-te-menu-value").appendChild(i)
       }
    .container
      // Start Header Navigation
      .navbar-header
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar-menu' aria-controls='navbars-rs-food' aria-expanded='false' aria-label='Toggle navigation')
          i.fa.fa-bars
           
      
          
        a.navbar-brand(href='/')
          img.logo(src='./../../img/logo.png' alt='')
        //-   img.logo(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4
        //- //8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==' alt='')
      // End Header Navigation
      // Collect the nav links, forms, and other content for toggling
      #navbar-menu.collapse.navbar-collapse
        ul.nav.navbar-nav.ml-auto(data-in='fadeInDown' data-out='fadeOutUp')
          li.nav-item.active
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='/aboutUs') About Us
          if(user )
            if(user.role!="seller")
              li.nav-item
                a.nav-link(href='/overview') SHOP
            else
              li.nav-item
                a.nav-link(href='/weather') Weather
          else 
            li.nav-item
                a.nav-link(href='/overview') SHOP
          

        

      // /.navbar-collapse
      // Start Atribute Navigation
      
      .attr-nav
        ul
          li.search
            a(href='#')
              i.fa.fa-search
          li.search.micSearch
            a(href='#').mic#action
              i.fa.fa-microphone
          if(user)
            if(user.cart!=null && Object.keys(user.cart).length!=0  )
              li.side-menu
                a(href='#') 
                  i.fa.fa-shopping-bag
                  span.badge= Object.keys(user.cart).length
                  p My Cart
            
           
          li 
            .dropdown(style="padding-left:15px").btn-hover
              i.fa.fa-user.s_color(onclick="myFunction()" class="dropbtn")
                
              //- button DropDown
              #myDropdown.dropdown-content
                if !user
                  a(href="login")
                    i.fa.fa-user.s_color
                    span    Login / Signup
                  a(href="/seller-login") 
                    i.fa.fa-cart-plus
                    span     Sell Products
                else 
                  a(href="/account") 
                    i.fa.fa-user.s_color
                    span   My Account
                    if user.negotiations
                      each nego in user.negotiations
                        span(class="negoId" data-id=nego.id data-user= user.role)
                  a(href="#").logoutBtn
                    i.fa.fa-lg.fa-arrow-right-from-bracket
                    span Logout
                  
            script. 
              function myFunction() {
              document.getElementById("myDropdown").classList.toggle("show");
              }
              // Close the dropdown menu if the user clicks outside of it
              window.onclick = function(event) {
              if (!event.target.matches('.dropbtn')) {
              var dropdowns = document.getElementsByClassName("dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
              }
              }
              }
              }
        
          
      // End Atribute Navigation
    if(user && user.cart!=null)
      .side
            a.close-side(href='#')
              i.fa.fa-times
            li.cart-box
              ul.cart-list
                -a = 0
                each prod,i in user.cart
                  li
                    a.photo(href='#')
                      img.cart-thumb(src=`./../../img/${prod.images[0]}` alt=`${prod.name} photo`)
                    h6
                      a(href='#')= prod.name
                    if prod.costPer == "1/4kg"
                      p= `${user.cartQty[i]/4} kg` 
                    else
                      p= `${user.cartQty[i]} ${prod.costPer?prod.costPer:" units"}`
                    span= `₹ ${user.cartQty[i]*prod.price}`
                    - a = a + user.cartQty[i]*prod.price
                li.total

                  a.btn.btn-default.hvr-hover.btn-cart(href='/myCart') VIEW CART
                  span.float-right
                    strong= `Total: ₹ ${a}`
   
.top-search
  .container
    .input-group
      span.input-group-addon
        i.fa.fa-search
      input.searchInput.form-control.inputTxtHolder(type='text' placeholder='Search')
      span.input-group-addon.close-search
        i.fa.fa-times