doctype html
// Basic

// Start Main Top
.main-top
  .container-fluid
    .row
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .custom-select-box
          select#basic.selectpicker.show-tick.form-control(data-placeholder='$ USD')
            option &yen; JPY
            option $ USD
            option &euro; EUR
        .right-phone-box
          p
            | Call US :- 
            a(href='#')  +91 9830482323
        .our-link
          ul
            li
              if user
                a(href=`/account`)
                  i.fa.fa-user.s_color
                  |  My Account
            li
              a(href='#')
                i.fas.fa-location-arrow
                |  Our location
            li
              a(href='#')
                i.fas.fa-headset
                |  Contact Us
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .login-box#basic.selectpicker.show-tick.form-control
          ul
            li
              if(user)
                a(href="#").logoutBtn
                  i.fa.fa-user.s_color
                    |  Logout
              else 
                a(href='/login')
                  i.fa.fa-user.s_color
                      |  Login
          
          //- select#basic.selectpicker.show-tick.form-control(data-placeholder='Sign In')
          //-   option Register Here
          //-   option Sign In
        .text-slid-box
          #offer-box.carouselTicker
            ul.offer-box
              li
                i.fab.fa-opencart
                |  20% off Entire Purchase Promo code: offT80
              li
                i.fab.fa-opencart
                |  50% - 80% off on Vegetables
              li
                i.fab.fa-opencart
                |  Off 10%! Shop Vegetables
              li
                i.fab.fa-opencart
                |  Off 10%! Shop Vegetables
              li
                i.fab.fa-opencart
                |  Off 50%! Shop Now
// End Main Top
// Start Main Top
header.main-header
  // Start Navigation
  nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-default.bootsnav
    .container
      // Start Header Navigation
      .navbar-header
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar-menu' aria-controls='navbars-rs-food' aria-expanded='false' aria-label='Toggle navigation')
          i.fa.fa-bars
        a.navbar-brand(href='/')
          img.logo(src='./../images/logo.png' alt='')
      // End Header Navigation
      // Collect the nav links, forms, and other content for toggling
      #navbar-menu.collapse.navbar-collapse
        ul.nav.navbar-nav.ml-auto(data-in='fadeInDown' data-out='fadeOutUp')
          li.nav-item.active
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='about.html') About Us
          li.dropdown
            a.nav-link(href='/overview') SHOP
          li.nav-item
            a.nav-link(href='gallery.html') Gallery
          li.nav-item
            a.nav-link(href='contact-us.html') Contact Us
      // /.navbar-collapse
      // Start Atribute Navigation
      
      .attr-nav
        ul
          li.search
            a(href='#')
              i.fa.fa-search
          if(user)
            if(user.cart!=null && Object.keys(user.cart).length!=0  )
              li.side-menu
                a(href='#') 
                  i.fa.fa-shopping-bag
                  span.badge= Object.keys(user.cart).length
                  p My Cart
      // End Atribute Navigation
    if(user && user.cart!=null)
      .side
            a.close-side(href='#')
              i.fa.fa-times
            li.cart-box
              ul.cart-list
                -a = 0
                each prod,i in user.cart
                  li
                    a.photo(href='#')
                      img.cart-thumb(src=`./../img/${prod.images[0]}` alt='')
                    h6
                      a(href='#')= prod.name
                    if prod.costPer == "1/4kg"
                      p= `${user.cartQty[i]/4} kg` 
                    else
                      p= `${user.cartQty[i]}  ${prod.costPer}`
                    span= `₹ ${user.cartQty[i]*prod.price}`
                    - a = a + user.cartQty[i]*prod.price
                li.total

                  a.btn.btn-default.hvr-hover.btn-cart(href='/myCart') VIEW CART
                  span.float-right
                    strong= `Total: ₹ ${a}`
   
.top-search
  .container
    .input-group
      span.input-group-addon
        i.fa.fa-search
      input.searchInput.form-control(type='text' placeholder='Search')
      span.input-group-addon.close-search
        i.fa.fa-times