extends base

block content 

  .all-title-box
    .container
      .row
        .col-lg-12
          h2 Product Detail
          ul.breadcrumb
            li.breadcrumb-item
              a(href='/overview') Shop
            li.breadcrumb-item.active Product Detail 
  .shop-detail-box-main
    .container
      .row
        .col-xl-5.col-lg-5.col-md-6
          #carousel-example-1.single-product-slider.carousel.slide(data-ride='carousel')
            .carousel-inner(role='listbox')
              .carousel-item.active
                img.d-block.w-100(src=`./../img/${product.images[0]}` alt='First slide')
              each img,i in product.images
                if(i!=0)
                  .carousel-item
                    img.d-block.w-100(src=`./../img/${img}` alt=`${product.name} Image`)
            a.carousel-control-prev(href='#carousel-example-1' role='button' data-slide='prev')
              i.fa.fa-angle-left(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#carousel-example-1' role='button' data-slide='next')
              i.fa.fa-angle-right(aria-hidden='true')
              span.sr-only Next
            ol.carousel-indicators
              li.active(data-target='#carousel-example-1' data-slide-to='0')
                img.d-block.w-100.img-fluid(src=`./../img/${product.images[0]}` alt='')
              each img,i in product.images
                if(i!=0)
                  li(data-target='#carousel-example-1' data-slide-to= i)
                    img.d-block.w-100.img-fluid(src=`./../img/${img}` alt='')
         
        .col-xl-7.col-lg-7.col-md-6
          .single-product-details
            h2= product.name
            h5= `₹ ${product.price} per ${product.costPer}`
            p.available-stock
              span= `${product.stockLeft} ${product.costPer}s available`
            p
            h4 Short Description:
            p= product.summary
            ul
              li
                .form-group.quantity-box
                  label.control-label Quantity
                  input.form-control(value='0' min='0' max=product.stockLeft type='number')
            .price-box-bar
              .cart-and-bay-btn
                a.btn.hvr-hover(data-fancybox-close='' href='#') Buy Now
                a.btn.hvr-hover(data-fancybox-close='' href='#') Add to cart
            .product-rating
              - var n = 0;
              while n++<Math.floor(product.ratingsAverage)
                i.fas.fa-star
              if((product.ratingsAverage - Math.floor(product.ratingsAverage)) != 0 )
                i.fas.fa-star-half-alt
              
              span= `${product.ratingsAverage}(${product.ratingsQuantity})`
      
      .row.my-5
        .col-lg-12
          .title-all.text-center
            h1 Featured Products
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.
          .featured-products-box.owl-carousel.owl-theme
            .item
              .products-single.fix
                .box-img-hover
                  img.img-fluid(src='./../images/img-pro-01.jpg' alt='Image')
                  .mask-icon
                    ul
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='View')
                          i.fas.fa-eye
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='Compare')
                          i.fas.fa-sync-alt
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='Add to Wishlist')
                          i.far.fa-heart
                    a.cart(href='#') Add to Cart
                .why-text
                  h4 Lorem ipsum dolor sit amet
                  h5  $9.79
            .item
              .products-single.fix
                .box-img-hover
                  img.img-fluid(src='./../images/img-pro-02.jpg' alt='Image')
                  .mask-icon
                    ul
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='View')
                          i.fas.fa-eye
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='Compare')
                          i.fas.fa-sync-alt
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='Add to Wishlist')
                          i.far.fa-heart
                    a.cart(href='#') Add to Cart
                .why-text
                  h4 Lorem ipsum dolor sit amet
                  h5  $9.79
            .item
              .products-single.fix
                .box-img-hover
                  img.img-fluid(src='./../images/img-pro-03.jpg' alt='Image')
                  .mask-icon
                    ul
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='View')
                          i.fas.fa-eye
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='Compare')
                          i.fas.fa-sync-alt
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='Add to Wishlist')
                          i.far.fa-heart
                    a.cart(href='#') Add to Cart
                .why-text
                  h4 Lorem ipsum dolor sit amet
                  h5  $9.79
            .item
              .products-single.fix
                .box-img-hover
                  img.img-fluid(src='./../images/img-pro-04.jpg' alt='Image')
                  .mask-icon
                    ul
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='View')
                          i.fas.fa-eye
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='Compare')
                          i.fas.fa-sync-alt
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='Add to Wishlist')
                          i.far.fa-heart
                    a.cart(href='#') Add to Cart
                .why-text
                  h4 Lorem ipsum dolor sit amet
                  h5  $9.79
            .item
              .products-single.fix
                .box-img-hover
                  img.img-fluid(src='./../images/img-pro-01.jpg' alt='Image')
                  .mask-icon
                    ul
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='View')
                          i.fas.fa-eye
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='Compare')
                          i.fas.fa-sync-alt
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='Add to Wishlist')
                          i.far.fa-heart
                    a.cart(href='#') Add to Cart
                .why-text
                  h4 Lorem ipsum dolor sit amet
                  h5  $9.79
            .item
              .products-single.fix
                .box-img-hover
                  img.img-fluid(src='./../images/img-pro-02.jpg' alt='Image')
                  .mask-icon
                    ul
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='View')
                          i.fas.fa-eye
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='Compare')
                          i.fas.fa-sync-alt
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='Add to Wishlist')
                          i.far.fa-heart
                    a.cart(href='#') Add to Cart
                .why-text
                  h4 Lorem ipsum dolor sit amet
                  h5  $9.79
            .item
              .products-single.fix
                .box-img-hover
                  img.img-fluid(src='./../images/img-pro-03.jpg' alt='Image')
                  .mask-icon
                    ul
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='View')
                          i.fas.fa-eye
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='Compare')
                          i.fas.fa-sync-alt
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='Add to Wishlist')
                          i.far.fa-heart
                    a.cart(href='#') Add to Cart
                .why-text
                  h4 Lorem ipsum dolor sit amet
                  h5  $9.79
            .item
              .products-single.fix
                .box-img-hover
                  img.img-fluid(src='./../images/img-pro-04.jpg' alt='Image')
                  .mask-icon
                    ul
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='View')
                          i.fas.fa-eye
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='Compare')
                          i.fas.fa-sync-alt
                      li
                        a(href='#' data-toggle='tooltip' data-placement='right' title='Add to Wishlist')
                          i.far.fa-heart
                    a.cart(href='#') Add to Cart
                .why-text
                  h4 Lorem ipsum dolor sit amet
                  h5  $9.79
  // End Cart
  // Start Instagram Feed
  .instagram-box
    .main-instagram.owl-carousel.owl-theme
      .item
        .ins-inner-box
          img(src='./../images/instagram-img-01.jpg' alt='')
          .hov-in
            a(href='#')
              i.fab.fa-instagram
      .item
        .ins-inner-box
          img(src='./../images/instagram-img-02.jpg' alt='')
          .hov-in
            a(href='#')
              i.fab.fa-instagram
      .item
        .ins-inner-box
          img(src='./../images/instagram-img-03.jpg' alt='')
          .hov-in
            a(href='#')
              i.fab.fa-instagram
      .item
        .ins-inner-box
          img(src='./../images/instagram-img-04.jpg' alt='')
          .hov-in
            a(href='#')
              i.fab.fa-instagram
      .item
        .ins-inner-box
          img(src='./../images/instagram-img-05.jpg' alt='')
          .hov-in
            a(href='#')
              i.fab.fa-instagram
      .item
        .ins-inner-box
          img(src='./../images/instagram-img-06.jpg' alt='')
          .hov-in
            a(href='#')
              i.fab.fa-instagram
      .item
        .ins-inner-box
          img(src='./../images/instagram-img-07.jpg' alt='')
          .hov-in
            a(href='#')
              i.fab.fa-instagram
      .item
        .ins-inner-box
          img(src='./../images/instagram-img-08.jpg' alt='')
          .hov-in
            a(href='#')
              i.fab.fa-instagram
      .item
        .ins-inner-box
          img(src='./../images/instagram-img-09.jpg' alt='')
          .hov-in
            a(href='#')
              i.fab.fa-instagram
      .item
        .ins-inner-box
          img(src='./../images/instagram-img-05.jpg' alt='')
          .hov-in
            a(href='#')
              i.fab.fa-instagram
